---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Sobre mi...</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
        <a href="/about/">About</a>
        <h1 >About me - Quien Soy</h1>
        <p>Mi nombre es <em> Amitkaill Armas </em>, Venezolano, Soy una persona de carácter fuerte y leal, siempre dispuesta a dar lo mejor de mí en cada tarea que emprendo. Mi ética de trabajo es incuestionable y siempre estoy buscando formas de superarme y crecer tanto personal como profesionalmente. Creo firmemente en el valor de la perseverancia y la dedicación, y estoy constantemente buscando oportunidades que me permitan demostrar mi valía. Mi objetivo es ser reconocido por mi trabajo y contribuciones, y estoy dispuesto a dar un paso adelante para alcanzar este objetivo. Estoy convencido de que con la oportunidad correcta, puedo demostrar mi verdadero potencial.</p>        
    </body>
</html>
